/****** General ***********/
/* layout */

/* front */

* {
    font-family: Arial, sans-serif;
}

:root {
    --Green: #99E2D0;
    --Green-Font: #008766;
    --Blue: #89C8FA;
    --Blue-2: #003A68;
    --Primary: #9356DC;
    --Grey-2: #EAEAEA;
    --body: white;
}



/* use a variable */ /* background: var(--Green)  */

html, body {
    /* LAYOUT */
    position: relative;
}

// COMPONENTS


// overlay

$overlay-animation-duration: 3s;

@mixin hide-overlay {
  animation: hideOverlay #{$overlay-animation-duration} linear forwards;
}

@keyframes hideOverlay {
  0% {
    z-index: 2; // État initial, overlay visible
  }
  100% {
    z-index: -1; // Après 3 secondes, overlay invisible
  }
}

#overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2; // État initial, overlay visible
  cursor: pointer;

  &.hidden {
    @include hide-overlay;
  }


// LOADER

#loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #9356DC;
    border-right: 16px solid #FF79DA;
    border-bottom: 16px solid #99E2D0;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
}

/* header part row1 */
.header {
    width: 100%;
    padding-top: 17px;
    padding-bottom: 17px;
}
.logo-header {
    display: flex;
    justify-content: center;
    background-color: white;
}
.logo-header img {
    object-fit: cover;
    padding: 10px;
    width: 197px;
    height: 36px;
}
/* header part row2 */
.location {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color:#EAEAEA;
}

.icon-location-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    color: #303030;
}
/****** main ***********/
main {
    /* LAYOUT */
    display: flex;
    flex-direction: column;
    background-color:#EAEAEA;
 
}
 
/* ***** Hero-BaN ********** */
 
.hero-bannier{
    /* layout */
    display: flex;
    width: 100%;
    padding-top: 20px;;
    background: #F6F6F6;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
        /* font */
}
.hero-titre {
    width: 275px;
    height: 68px;
    text-align: center;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.hero-sous-titre {
    text-align: center;
    color: var(--Grey, #353535);
    text-align: center;
    /* Paragraph */
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    
}
.hero-btn {
    /* LAYOUT */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 218px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
    border-color: transparent;

    /* FONT */
    color: white;
    margin-top: 30px;
    margin-bottom: 55px ;

    &:hover {
        background: linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
    }

    &:active {
        background: linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
        /* Ajoutez le style supplémentaire pour l'état actif si nécessaire */
    }
}

            /****** Fonctionnement ***********/
.fonctionnement {
    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    gap:20px
}
.h-titre {
    display: flex;
    align-items:start;
    text-align: left;
    width: 322.486px;
    height: 72.379px;
}
.btn-f-container {
    padding-bottom: 68px;
}
.btn-fonct-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.F-number {
    position: absolute;
    border-radius: 50%;
    top: 24px;
    left: -12px;
    width: 24px; 
    height: 24px;
    background-color: #9356DC;
    color:white;
}
.F-number {
    display: flex;
    justify-content: center;
    margin: 6px;
}
.btn-class-f {
    /* LAYOUT */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 322.486px;
    height: 72.379px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    gap: 20px;
    /* FONT */
    background-color: #EAEAEA;
}
 
.number {
    position: relative;
    left: 0px;
    top:0px;
    color:white;
}
.btn-article {
    display:flex;
}
.btn-article:hover {
    background-color: #EAEAEA;
}
 
 
 
 
 
            /****** Restaurant ***********/
.restaurant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    background-color: #F6F6F6;
    margin-bottom: 50px;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:18px;
}
 /* card */
.card {
    /* LAYOUT */
    display: flex;
    flex-direction: column;
    width: 340px;
    justify-content: space-between;
    align-items: center;
    border: 1px;
    text-decoration: none;
    color: inherit; 
    &:hover{
    filter: brightness(1.2);
    }
}

.img-card-container {
    position: relative;
    display: inline-block;
}
 
.card img {
    object-fit: cover;
    width: 340px;
    height: 251px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
 
}
 
.btn-new {
    position: absolute;
    background-color: #99E2D0;
    color: #008766;
    top: 13px;
    right: 15px;
}
.info-container {
    display:flex;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.info-rows {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 15px;
    padding-left: 15px;
}
/* BOX HEART ANIMATION */
$heart-color-start: white;
$heart-color-end: #9356DC;

.heart-box {
    position: relative;
    display:flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    transition: transform(500ms);
    &.hover {
        transform: scale(1,2,3);
        display: flex;
        font-size: 32px;
        background-color: #9356DC;
        position: absolute;
    }
}
/* span FA REGULAR (FontAwesone ) */
.icon-regular {
    position: absolute;
    font-size: 24px;
    &.hover {
        display: flex;
        font-size: 32px;
        background-color: #9356DC;
        position: absolute;
    }
}
/* span FA SOLID( FontAwesone ) */
.icon-solid {
    position: absolute;
    font-size: 16px;
    color: $heart-color-start;
        &:hover {
        display: flex;
        font-size: 24px;
        transform: scale(1.13);
        color: $heart-color-end;
        }
        &:visited {
    display: flex;
    font-size: 32px;
    transform: scale(1.13);
    color: $heart-color-end;
        }
        &:focus {
    color: $heart-color-end;
        }
        &:active {
            color: $heart-color-end;
        }
}
            /****** footer ***********/
footer {
    display: flex;
    flex-direction: column;
    height: 10vh;
    padding: 20px;
    color: white;
    /* font */
    color: white;
    background-color: #353535;

}
.footer-container {
    display:flex;
    padding:20px;
    flex-direction: column;
}
.ls-container {
    display: flex;
    margin-right: 60px;
    flex-direction: column;
    gap:7px;
 
}
.footer-titre {
    font-family: "Shrikhand";
    display: flex;
    padding-bottom: 15px;
}
.fa-handshake-angle .fa-utensils {
    color:white;
    margin-right:10px;
}

 
 
 











 
 
 
 
/* media querie DESKTOP device */

@media (min-width: 767.98px){

/* header */
    header {
    width: 100%;
    text-align: center;
}
.logo-container {
    display: flex;
    justify-content: center;
    text-align: center;
}
.location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #EAEAEA;
}
/* hero ban */
.hero-bannier {
    display: flex;
    flex-direction: column;
    align-items:  center;
    height: 200px;
    background: #F6F6F6;
}
.hero-sous-titre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: var(--Grey, #353535);
    text-align: center;
}

    .hero-btn {
    width: 218px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    
    }
.btn-class-f {
    width: 322.486px;
    height: 72.379px;
    width: 322.486px;
    height: 72.379px;
    border-radius: 20px;
    background: var(--Background, #F6F6F6);
/* Shadow/Instructions */
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

/* SECTION FONCTIONNNEMENT */
.fonctionnement {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.h-titre {
    width: auto;
    display: flex;
    justify-content: start;
    text-align: start;
}
.btn-f-container {
    display: flex;
    flex-direction: row;
    gap:30px;
}
/* SECTION RESTAURENT */
.restaurant {
display: flex;
flex-direction: column;
gap: 28px;
}
.card-container {
    display: grid;
    grid: repeat(2, 50%) / auto-flow 50%;
    gap: 30px;
}
.card {
    display: flex;
    width: 498.647px;
    flex-direction: column;

}
.card img {
    width: 498.647px;
    height: 231px;
}
.btn-new {
    position: absolute;
    background-color: #99E2D0;
    color: #008766;
    top: 13px;
    right: 15px;
}
/* footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.footer-container {
    display: flex;
    flex-direction: row;
}
.ls-container {
    order:1;
    display: flex;
    flex-direction: row;
    padding-right: 60px;
}
.footer-titre {
    order:2;
}
}













